---
---

@import "{{ site.theme }}";

.wrapper{
    width: 90% !important;
}
@media print, screen and (max-width: 960px) { div.wrapper { width: auto !important; margin: 0 !important; }
}
@media print, screen and (min-width: 960px) {
    section{
        width: 850px !important;
    }
}
p,a,h2,h3{
    text-align: justify !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
h2,h3{
    padding-top: 3rem !important

}

ul li{
    margin-top: 10px !important;
}
.red{
    color: red !important;
}

.font2{
    font-size: 2rem !important;
}
li{
    color: #267CB9 !important;
}