---
---

@import "{{ site.theme }}";

.wrapper{
    width: 90% !important;
}
@media print, screen and (max-width: 960px) { div.wrapper { width: auto !important; margin: 0 !important; }
}
@media print, screen and (min-width: 960px) {
    section{
        width: 850px !important;
    }
}
p{
    text-align: justify !important;
}
ul li{
    margin-top: 10px !important;
}